cargo-features = ["profile-rustflags"]

[workspace]
members = [

    "app/client", "lib/common/algo", "lib/common/cqrs", "study/hotstuff", "lib/core/exchange/prep", "lib/common/id_generator", "lib/common/fixed_point", "proc/operating/exchange/spot", "proc/operating/exchange/spot_market_data", "proc/operating/exchange/derivatives", "lib/common/diff", "lib/common/lob_repo", "lib/common/base_types", "lib/common/entity_derive", "lib/common/immutable_derive", "lib/common/db_repo", "lib/common/repo_def", "lib/common/decimal", "study/zk-snarks", "lib/common/sbe", "lib/common/rust_analyzer", "lib/common/sequencer", "lib/common/vector_clock", "app/axum_server", "app/websocket_sockudo", "app/xdp_libbpf", "app/pingora_gateway","lib/common/cache_analyzer_derive", "lib/common/cache_analyzer_types", "proc/operating/push/push", "lib/common/rust_queue", "proc/operating/exchange/wallet",
]

exclude = [
    "study/web3",
]

resolver = "2"

[workspace.package]
version = "0.1.0"
edition = "2021"
authors = ["Hongyao Tang"]
license = "MIT"

[workspace.dependencies]
# 共享依赖可以在这里定义

[profile.release]
lto = "fat"
codegen-units = 1
opt-level = 3
target-cpu = "native"
# 启用 Apple Silicon 的向量扩展
rustflags = [
    "-Cllvm-args=--inline-threshold=500",
    "-Cllvm-args=--unroll-count=8"
]
