[workspace]
members = [

    "app/sapp", "lib/common/algo", "lib/common/cqrs", "study/hotstuff", "lib/core/exchange/prep", "lib/common/id_generator", "lib/common/fixed_point", "proc/operating/exchange/spot", "proc/operating/exchange/spot_market_data", "proc/operating/exchange/derivatives", "lib/common/diff", "lib/common/lob_repo", "lib/common/base_types", "lib/common/entity_derive", "lib/common/db_repo", "lib/common/repo_def", "lib/common/decimal", "study/zk-snarks", "lib/common/sbe", "lib/common/rust_analyzer", "lib/common/sequencer", "lib/common/vector_clock", "app/rest_axum", "app/websocket_sockudo", "app/websocket_tungstenite", "app/rest_actix", "app/xdp_libbpf",
]

exclude = [
    "study/web3",
]

resolver = "2"

[workspace.package]
version = "0.1.0"
edition = "2021"
authors = ["Hongyao Tang"]
license = "MIT"

[workspace.dependencies]
# 共享依赖可以在这里定义
