version: '3.8'

services:
  xdp_aya_builder:
    container_name: xdp_aya_builder
    image: rust:latest
    working_dir: /app
    volumes:
      - ./:/app
    command: >
      bash -c "
        cargo build --release -p xdp-aya-ebpf &&
        cargo build --release -p xdp_aya &&
        ls -la /app/app/xdp_aya/target/release/ &&
        ls -la /app/app/xdp-aya-ebpf/target/bpfel-unknown-none/release/
      "
    privileged: false
    cap_add:
      - SYS_ADMIN
    security_opt:
      - seccomp:unconfined
    deploy:
      resources:
        limits:
          memory: 8G
          cpus: '4'
        reservations:
          memory: 4G
          cpus: '2'
    networks:
      - xdp_aya_network
    memswap_limit: 0

  xdp_aya_runner:
    container_name: xdp_aya_runner
    image: rust:latest
    working_dir: /app
    volumes:
      - ./:/app
    network_mode: "host"
    privileged: true
    cap_add:
      - SYS_ADMIN
      - NET_ADMIN
      - SYS_PTRACE
    security_opt:
      - seccomp:unconfined
    command: >
      bash -c "
        ls -la /app/app/xdp_aya/target/release/ &&
        /app/app/xdp_aya/target/release/xdp_aya --iface eth0 --port 8080
      "
    depends_on:
      xdp_aya_builder:
        condition: service_completed_successfully
    deploy:
      resources:
        limits:
          memory: 4G
          cpus: '2'
        reservations:
          memory: 2G
          cpus: '1'

  xdp_libbpf_builder:
    container_name: xdp_libbpf_builder
    image: rust:latest
    working_dir: /app
    volumes:
      - ./:/app
    command: >
      bash -c "
        apt-get update && apt-get install -y build-essential libelf-dev libssl-dev flex bison gawk gettext autoconf automake libtool pkg-config zlib1g-dev &&
        cargo build --release -p xdp_libbpf &&
        ls -la /app/app/xdp_libbpf/target/release/
      "
    privileged: false
    cap_add:
      - SYS_ADMIN
    security_opt:
      - seccomp:unconfined
    deploy:
      resources:
        limits:
          memory: 8G
          cpus: '4'
        reservations:
          memory: 4G
          cpus: '2'
    networks:
      - xdp_libbpf_network
    memswap_limit: 0

  xdp_libbpf_runner:
    container_name: xdp_libbpf_runner
    image: rust:latest
    working_dir: /app
    volumes:
      - ./:/app
    network_mode: "host"
    privileged: true
    cap_add:
      - SYS_ADMIN
      - NET_ADMIN
      - SYS_PTRACE
      - NET_RAW
    security_opt:
      - seccomp:unconfined
    devices:
      - /dev/bpf:/dev/bpf
    command: >
      bash -c "
        ls -la /app/app/xdp_libbpf/target/release/ &&
        /app/app/xdp_libbpf/target/release/xdp_libbpf --iface lo --port 8081
      "
    depends_on:
      xdp_libbpf_builder:
        condition: service_completed_successfully
    deploy:
      resources:
        limits:
          memory: 4G
          cpus: '2'
        reservations:
          memory: 2G
          cpus: '1'

networks:
  xdp_aya_network:
    driver: bridge
  xdp_libbpf_network:
    driver: bridge